<h1>User Listings</h1>

<p id="notice"><%= @users.count %></p>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_blogs_url(user) %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user, :remote => true %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :remote => true %></td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div id="divDialog" style="display:none;"/>
<%= link_to 'New User', new_user_path(@user) %>